form.answers {
    & > ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;

        & > li {
            list-style-type: none;
            background-color: blue;
            border: 1px solid red;
            box-sizing: content-box;

            &.correct {
                background-color: green;
            }

            &.wrong {
                background-color: red;
            }

            & > input {
                display: none;
            }

            & > label {
                display: block;
                width: 100%;
                padding: 10px;
                box-sizing: border-box;
            }
        }
    }
}
